body
{
    font-family: 'Lato', sans-serif;
}

.menu li{
    display: inline-block;
    position: relative;
    cursor: pointer;
    background-color: MidnightBlue;
}
#main-nav li{
    width: 120px;
    box-sizing: border-box;
    border: 1px solid black;
    text-align: center;
    padding: 5px;
    color: white;
}


.menu>li a {
    text-decoration: none;
    color: white;
}

.menu li ul {
    position: absolute;
    top: 29px;
    right: -1px;
    display: none;
    transition: all 0.4s linear;
}

.menu li:hover ul{
    display: block;
 }

.menu li ul li:hover a{
  color: midnightblue;  
  font-weight: bold;
 }

.menu li:hover {
 background-color:CornflowerBlue;
}





